#container {
	display: grid; /* グリッドレイアウト */
    background-color: gray;

}
#itemA {
	grid-row: 1 / 3;
	grid-column: 1 / 2;
	background: #f88;
}

#itemB {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	background: #8f8;
}
#itemA {
	grid-row: 1 / 3;
	grid-column: 1 / 2;
	background: #f88;
}
