* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header-grid {
    display: grid;
    width: 100%;
    
    grid-template-areas:
        "top-nav"
        "banner-bar"
        "main-visual";
    
    grid-template-rows: 50px 40px 450px;
    
    background-color: darkgray;
    color: white;
}

.top-nav {
    grid-area: top-nav;
    background-color: white;
    color: black;
}

.banner-bar {
    grid-area: banner-bar;
}

.main-visual {
    grid-area: main-visual;
    background-color: yellow;
    background-image: none;
    position: relative;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid lightgray;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    font-weight: bold;
    color: red;
    font-size: 1.5em;
    margin-right: 30px;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 0.9em;
}

.order-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
}

.main-visual {
    padding: 50px 80px;
}

.catch-copy {
    font-size: 4em;
    color: black;
    margin-bottom: 20px;
}

.badge {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: darkgray;
    color: white;
    padding: 5px 10px;
    font-size: 0.8em;
}